.main_container {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  position: relative;
  .pagename {
    position: absolute;
    top: 1.8rem;
    right: 5rem;
    &_name {
      color: #fff;
    }
    &_border {
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }
  .msg_box {
    $size: 30rem;
    width: $size * 1.6;
    height: $size;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    @media only screen and (max-width: 915px) {
      flex-direction: column-reverse;
      width: 90%;
    }
    &__contact_info {
      background-color: #333333;
      width: $size * 0.6;
      height: $size;
      @media only screen and (min-width: 1100px) {
        height: $size * 0.75;
        transform: translateX(-$size * 0.3);
      }
      @media only screen and (max-width: 915px) {
        width: $size;
        width: 100%;
      }
    }
    &__message {
      background-color: #fff;
      width: ($size);
      height: $size;
      @media only screen and (max-width: 915px) {
        width: $size;
        width: 100%;
      }
    }
  }
  &__container_1 {
    height: 100%;
    width: 50%;
    background-image: url("../../public/contact/background.svg");
    background-size: cover;
  }
  &__container_2 {
    height: 100%;
    width: 50%;
    background-color: #333333;
  }
}
