.main_container {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  position: relative;
  .pagename {
    position: absolute;
    top: 1.8rem;
    right: 5rem;
    &_name {
      color: #fff;
    }
    &_border {
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }
  .msg_box {
    $size: 30rem;
    width: $size * 1.6;
    height: $size;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    @media only screen and (max-width: 915px) {
      flex-direction: column-reverse;
      width: 90%;
      height: 80%;
    }
    &__contact_info {
      background-color: #333333;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: $size * 0.6;
      height: $size;
      color: #fff;
      padding-top: 2.5rem;
      padding-left: 1.5rem;
      padding-bottom: 1rem;
      @media only screen and (max-width: 915px) {
        padding-top: 1.5rem;
      }
      @media only screen and (max-height: 750px) {
        font-size: 0.75rem;
      }
      &__header {
        font-family: mr-l;
        margin-bottom: 2rem;
        @media only screen and (max-width: 915px) {
          margin-bottom: 1.5rem;
        }
      }
      & > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > li {
          font-family: mr-l;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.8rem;
          margin-bottom: 1.5rem;
          @media only screen and (max-width: 915px) {
            margin-bottom: 0.5rem;
          }
          & > p {
            margin-left: 0.5rem;
          }
        }
      }
      &__links {
        margin-top: 4rem;
        @media only screen and (max-width: 915px) {
          margin-top: 1.5rem;
        }
        & > a {
          margin-right: 1rem;
        }
      }

      @media only screen and (min-width: 1100px) {
        height: $size * 0.75;
        transform: translateX(-$size * 0.3);
      }
      @media only screen and (max-width: 915px) {
        width: 100%;
        height: 40%;
      }
    }
    &__message {
      background-color: #fff;
      display: flex;
      justify-content: center;
      & > form {
        @media only screen and (min-width: 1100px) {
          transform: translateX(-20%);
          padding-left: 0;
        }
        @media only screen and (min-width: 915px) {
          padding-left: 1.5rem;
        }
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        & > h4 {
          font-size: 1.3rem;
          margin-bottom: 2rem;
          color: #333333;
          @media only screen and (max-height: 750px) {
            margin-bottom: 1.2rem;
          }
        }
        & > input {
          padding-bottom: 0.5rem;
          margin-bottom: 1.5rem;
          @media only screen and (max-height: 750px) {
            margin-bottom: 0.85rem;
          }
        }
        & > textarea {
          min-height: 7rem;
          max-height: 12rem;
          resize: vertical;
        }
        & > input,
        & > textarea {
          border: none;
          width: $size - 4rem;
          border-bottom: 2px solid #7d7d7d;
          background-color: transparent;
          transition: all 0.15s;
          &::placeholder {
            color: #7d7d7d;
          }
          @media only screen and (max-width: 500px) {
            width: $size - 12rem;
          }
        }
        & > input:focus,
        & > textarea:focus {
          outline: none;
          border-bottom-color: #333333;
        }
        & > button {
          margin-top: 1rem;
          background-color: #333333;
          color: #fff;
          border: none;
          border-radius: 0.2rem;
          width: 3.5rem;
          height: 1.7rem;
          cursor: pointer;
        }
      }

      @media only screen and (max-width: 915px) {
        width: $size;
        width: 100%;
        height: 60%;
      }
    }
  }
  &__container_1 {
    height: 100%;
    width: 50%;
    background-image: url("../../public/contact/background.svg");
    background-size: cover;
    @media only screen and (max-width: 915px) {
      width: 100%;
    }
  }
  &__container_2 {
    height: 100%;
    width: 50%;
    background-color: #333333;
    @media only screen and (max-width: 915px) {
      display: none;
    }
  }
}
