.main_container {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  .pagename {
    position: absolute;
    top: 1.8rem;
    right: 5rem;
    &_name {
      color: #fff;
    }
    &_border {
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }
}

.img_container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/skills/skills_bg_star.svg");
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.earth {
  width: 45rem;
  bottom: -22.5rem;
  position: absolute;
  animation-name: rotate;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.earth2 {
  width: 45rem;
  height: 45rem;
  background-size: cover;
  background-position: center;
  bottom: -22.5rem;
  position: absolute;
  animation-name: rotate;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-image: url("../../public/skills/earth2.webp");
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.skills_container {
  color: #c4c4c4;
  display: flex;
  margin-top: 4rem;
  width: 100%;
  height: max-content;
  justify-content: center;
  &_small {
    position: relative;
    margin-inline: 2rem;
    &_line {
      background-color: #c4c4c4;
      width: 100%;
      height: 2px;
    }
  }

  @media only screen and (max-width: 570px) {
    &_small {
      margin: 0;
    }
    & {
      margin-top: 10rem;
      justify-content: space-around;
    }
  }
}
