.main_container {
  display: flex;
  .sub_container_1 {
    width: 15rem;
    background-color: #343434;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &_admin_img {
      width: 5rem;
      border-radius: 50%;
      margin-top: 4rem;
    }
    &_admin_name {
      color: #b5b5b5;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      font-weight: 300;
      font-size: 1.2rem;
    }
    &_admin_type {
      color: #b5b5b5;
      text-transform: uppercase;
      margin-block: 0.8rem;
      font-weight: 300;
    }
    .notification_container {
      display: flex;
      justify-content: center;
      align-items: center;
      &_div {
        background-color: #bc6060;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      &_message {
        margin-block: 0.8rem;
        color: #b5b5b5;
        font-weight: 300;
      }
    }
    .line {
      width: 100%;
      height: 2px;
      background-color: #2d2d2d;
    }
    &_logout {
      background-color: #2d2d2d;
      color: #b5b5b5;
      border: none;
      padding: 0.25rem 1rem;
      border-radius: 3rem;
      position: absolute;
      bottom: 3rem;
    }
  }
  .sub_container_2 {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .pagename {
      position: absolute;
      top: 1.8rem;
      right: 5rem;
      &_name {
        color: #b5b5b5;
      }
      &_border {
        width: 100%;
        height: 2px;
        background-color: #b5b5b5;
      }
    }
    &_main {
      width: 85%;
      height: 85vh;
      display: flex;
      &_message_container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #b5b5b5;
      }
      &_users_container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #b5b5b5;
        overflow: auto;
      }
    }
  }
}
