$accent_col: #333333;
$accent_col_light: #c4c4c4;
$accent_col_light_hover: #a3a2a2;
.modal {
  animation-name: modal-animation;
  animation-duration: 0.3s;
  transform: all 0.5s;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-image: linear-gradient(
    24.92deg,
    #ffffff 0%,
    #c4c4c4 23.96%,
    #333333 100%
  );
  &_link_container {
    animation-name: modal_link-animation;
    animation-duration: 0.3s;
  }
  &_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_page {
      position: relative;
      padding: 0.5rem 2rem;
      margin-block: 0.2rem;
      font-weight: 300;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.796);
      transition: all 0.3s;
      cursor: pointer;
      background: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        rgba(255, 255, 255, 0.5) 50%
      );
      background-size: 250%;
      &:hover,
      &:active {
        transform: translateX(0.5rem);
        background-position: 100%;
      }
    }
  }

  @keyframes modal-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes modal_link-animation {
    0% {
      transform: translateX(-1rem);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.navbar_button {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $accent_col_light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 9999;
  top: 1rem;
  right: 1.5rem;
  position: absolute;
  &_line {
    transition: all 0.2s;
    background-color: $accent_col;
    width: 1.5rem;
    height: 2px;
    position: relative;
    margin-block: 3px;
  }
  &:hover {
    background-color: $accent_col_light_hover;
  }
  &:hover #line_top {
    transform: translateY(1px);
  }
  &:hover #line_end {
    transform: translateY(-1px);
  }
  &:active {
    background-color: $accent_col_light_hover;
  }
  &:active #line_top {
    transform: translateY(2px);
  }
  &:active #line_end {
    transform: translateY(-2px);
  }
}
.navbar_button_x {
  .navbar_line_x {
    transform: rotate(45deg);
    position: relative;
  }
  #line_end_x {
    transform: rotate(-45deg);
    position: absolute;
  }
}
